body
{
    background-color: #FFFFFF;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    margin:5px;
    text-align: center;
    padding: 15px;
}

div.login{
     border: 5px solid #ee3edb;
     margin: 100px auto 100px auto;
     padding: 10px;
     width: 275px;
     border-radius: 10px;
}

label{
    font-family: sans-serif;
    font-size: 15px;
    border:1px none;
    margin-right:1px;
    text-align:right;
}

input{
     border: 1px solid #ee3edb;
     width:190px;
     margin: 5px 1px 5px 1px;
     text-align:center;
     border-radius: 10px;
}
div.error {
    font-family: sans-serif;
    font-size:15px;
    color:red;
    text-align:center;
    margin: 5px auto 5px auto;
}

div.submit {
    border: none;
    text-align: center;
}
input[type=submit] {
         font-family: sans-serif;
         font-size: 15px;
         border: 1px solid #ee3edb;
         width: 50px;
         margin: 5px auto 6px auto
         text-align:center;
         padding: 3px 5px 3px 5px;
         border-radius: 10px;
}